
body {
    background-color: #000000e0;
    margin: auto;
}

#contenu {
  margin: 5% auto auto auto;
  width: 60%;
}

*::selection {
    background-color: #d9514acb;
}

/* Barre de navigation */

#liste_der {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    filter: drop-shadow(2px 4px 6px black);
  }
  
.liste_elem {
  float: left;
}

.liste_elem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.liste_elem a:hover {
  background-color: #111;
}

.active {
  background-color: black;
}

#img {
    border:6px solid black;
    border-radius: 10px;
    display: block;
    margin: 5% auto 2% auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

figcaption {
  padding: .5em 1em;
  border-radius: .25em;
  background: rgba(0, 0, 0, 0.541);
  color: #eee;
  margin-bottom: 20px;
}

#mailtxt{
  color: rgb(141, 141, 247);
}


h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    text-align: center;
    letter-spacing: 1px;}

h2 {
    margin-top: 10%;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
}

h4 {
    margin: 6% 6%;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

#blocks{
  margin-top: 4%;
}

#caption_age{
  background-color:rgb(0, 0, 0);
  opacity:90%;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.left {
  margin-top: 8%;
  margin-left: 50px;
  float: left;
  width: 30%;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.middle {
  width: 30%;
  margin: auto;
}

.right {
  margin-top: 8%;
  margin-right: 50px;
  padding-bottom: 1%;
  float: right;
  width: 30%;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

p {
    margin-top: 10%;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    line-height: 40px;
}

.separation {
    margin-top: 7%;
}

.lien {
  width: 50px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

#linkedin{
  float: left;
  margin: 10px 0 0 42%;
}

#mail{
  float: right;
  margin-right: 42%;
}