
body {
    background-color: #fff1f1;
    margin: auto;
}

#contenu {
  margin: 5% auto auto auto;
  width: 60%;
}

*::selection {
    background-color: #d9514acb;
}

/* Barre de navigation */

#liste_der {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    filter: drop-shadow(2px 4px 6px #d9514acb);
  }
  
.liste_elem {
  float: left;
}

.liste_elem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.liste_elem a:hover {
  background-color: #111;
}

.active {
  background-color: #d9514acb;
}

#img {
    border: 10px solid #d9514acb;
    border-radius: 10px;
    display: block;
    margin: 5% auto 2% auto;
    filter: drop-shadow(2px 4px 6px #d9514acb);
}

figcaption {
  padding: .5em 1em;
  border-radius: .25em;
  background: rgba(0, 0, 0, 0.541);
  color: #eee;
  margin-bottom: 20px;
}


h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #444;
    text-align: center;
    letter-spacing: 1px;}

h2 {
    margin-top: 10%;
    text-transform: uppercase;
    font-size: 30px;
    color: #444;
    letter-spacing: 1px;
}

h4 {
    margin-top: 10%;
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    letter-spacing: 1px;
}

.left {
  margin-top: 12%;
  float: left;
  width: 30%;
  text-align: center;
}

.right {
  margin-top: 12%;
  float: right;
  width: 30%;
  text-align: center;
}

p {
    margin-top: 10%;
    font-size: 20px;
    color: #111;
    letter-spacing: 1px;
    line-height: 40px;
}

.separation {
    margin-top: 7%;
    height: 0.75em;
    background: #d9514acb;
    display: block;
    border-radius: 0.25em;
}

.lien {
  width: 50px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}