* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: #2e2e31;
  }

*::selection {
    background-color: #d9514acb;
}

#jeu {
    width: 500px;
    height: 200px;
    border : 1px solid black;
    margin: auto;
}

#perso {
    width: 20px;
    height: 50px;
    background-color:#d9524a;
    position: relative;
    top: 150px;
}

.animate {
    animation: saut 0.3s linear;
}

@keyframes saut {
    0% {
        top: 150px;
    }
    30% {
        top: 100px;
    }
    70% {
        top: 100px;
    }
    100% {
        top: 150px;
    }
}

#block {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.801);
    position: relative;
    top: 130px;
    left: 500px;
}

@keyframes block {
    0% {
        left:500px;
    }
    100% {
        left:-20px;
    }
}

#score, #hscore {
    font-family: 'billabongregular';
    text-align: center;
    font-size:xx-large;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'billabongregular';
    src: url('font/billabong-webfont.woff2') format('woff2'),
         url('font/billabong-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

button {
    font-family: 'billabongregular';
    font-size:x-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;;
    margin-bottom: 10px;
    width:150px;
    height: 50px;;
}

/* Animation texte */

@keyframes tipsy {
    0% {
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }
  
  #click {
    color:white;
    font-family: 'billabongregular';
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow:unset;
    text-align: center;
    margin-top: 70px;  
  }
  
  #click:before {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    border: 15px solid #d9524a;
    animation: 10s infinite alternate ease-in-out tipsy;
  }

  /*Bouton On / Off Musique*/

input {
    position:absolute;
}
  